* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #484848;
    font: normal normal 1.1em arial, helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 0px 0px 15px 0px;
}

strong {
    color: #950195;
}

div#container {
    background-color: #fff;
    max-width: 500px;
    margin: auto;
    padding: 20px;

    border-radius: 15px;
}

input {
    margin-bottom: 20px;
}

div#msg {
    text-align: center;

    min-width: 400px;
}