@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
}

div.position {
    background-color: #232323; 
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

div#container {
    background-color: white;
    height: 390px;
    width: 390px;

    padding: 15px;
    border-radius: 15px;
}

p {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 15px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td {
    font-size: 2em;
    text-align: center;
    height: 80px;
    width: 80px;
    padding: 5px;
    border-color: black;
}

td:hover {
    background-color: #cbcbcb;
}

span {
    color: #1f7e9b;
    font-size: 1.5em;
}